<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Xe đạp điện APUS</title>
<link href="css/style.css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<img class="header-logo" src="images/logo.jpg" />
			<div class="header-info">
				<p class="p1">Hotline <b>1800 1900</b></p>
				<p class="p2">Nhà phân phối độc quyền chính thức tại Việt Nam</p>
			<div class="header-icon">
				<img src="images/icon-me.jpg" />
				Tài khoản của tôi
				<img id="img2" src="images/icon-sp.jpg" />
				<b>0</b> sản phẩm	
			</div>
			</div> <!--End .header-info-->
		</div><!--End #logo-->
		<div class="group"></div>
		<div id="main-menu">
			<div>
				<ul>
					<li><a href="">Trang chủ</a></li>
					<li><a href="">Giới thiệu</a></li>
					<li><a href="">Tin tức</a></li>
					<li><a href="">Dịch vụ</a></li>
					<li><a href="">Liên hệ</a></li>
				</ul>
				<div class="search">
				<form method="get" id="searchform" action="">
					<input type="text" name="s" id="s" value="TÌM KIẾM" />	
				</form>
			</div><!--End .search-->
			</div>
		</div><!--End #main-menu-->
	</div><!--End #header-->
	<div id="banner">
		<div id="main-banner">
			<img src="images/main-banner.jpg "/>
		</div><!--End #main-banner-->
		<div id="muti-banner">
			<ul>
				<li><img src="images/banner1.jpg" /></li>
				<li><img src="images/banner2.jpg" /></li>
				<li><img src="images/banner3.jpg" /></li>
			</ul>
		</div><!--End #muti-banner-->
	</div><!--End #banner-->
	<div id="main" class="group">
	<div id="col-left">
		<div id="list-cat">
			<div class="header">
				Danh mục
			</div>
			<div class="list">
				<ul>
					<li><a href="#">Honda</a></li>
					<li><a href="#">Yamaha</a></li>
					<li><a href="#">Bestar</a></li>
					<li><a href="#">Giant</a></li>
					<li><a href="#">Nijia</a></li>
					<li><a href="#">Viko</a></li>
					<li><a href="#">Bridgestone</a></li>
					<li><a href="#">Jin</a></li>
					<li><a href="#">Overfly</a></li>
					<li><a href="#">Ambike</a></li>
					<li><a href="#">Apolo</a></li>
					<li><a href="#">Ariska</a></li>
					<li><a href="#">Asama</a></li>
					<li><a href="#">Flying</a></li>
					<li><a href="#">Asama</a></li>
				</ul>
			</div>
		</div>
		<div id="spkm">
			<div class="km">
				<h3>Tin khuyến mại</h3>
			</div>
			<div clas="list-sp">
				<div class="spkm-details">
					<a href=""><img src="images/spkm.png" width="56px" /></a>
					<a href="">Ngạc nhiên trước giá sốc của xe đạp điện chạy pin iphone </a>
					<p>Thứ 4,6/7/2015</p>
				</div>
				<div class="spkm-details">
					<a href=""><img src="images/spkm1.png" width="56px" /></a>
					<a href="">Ngạc nhiên trước giá sốc của xe đạp điện chạy pin iphone </a>
					<p>Thứ 4,6/7/2015</p>
				</div>
				<div class="spkm-details">
					<a href=""><img src="images/spkm2.png" width="56px" /></a>
					<a href="">Ngạc nhiên trước giá sốc của xe đạp điện chạy pin iphone </a>
					<p>Thứ 4,6/7/2015</p>
				</div>
			</div>
			<div class="them">
				<a href="">Xem thêm</a>
			</div>
		</div><!--End #spkm-->
	</div><!--End #col-left-->
	<div id="main-content">
		<div class="noibat">
			<div class="spnb">
				<h3>Sản phẩm nổi bật</h3>
			</div>
			<div class="list-spnb">
				<div class="spnb-details">
					<a href=""><img src="images/product1.jpg" width="201px" /></a><br />
					<p>
					<a href="#">Zinger extra</a> <br />
					<a href="#">Xanh trắng - Thanh Lịch</a> 
					</p>
					<span>Giá :<b> 10.900.000đ</b></span>
					<h4><a href="">  Mua ngay </a></h4>
				</div>
				<div class="spnb-details">
					<a href=""><img src="images/product1.jpg" width="201px" /></a><br />
					<p>
					<a href="#">Zinger extra</a> <br />
					<a href="#">Xanh trắng - Thanh Lịch</a> 
					</p>
					<span>Giá :<b> 10.900.000đ</b></span>
					<h4> <a href=""> Mua ngay </a></h4>
				</div>
				<div class="spnb-details">
					<a href=""><img src="images/product.jpg" width="201px" /></a><br />
					<p>
					<a href="#">Zinger extra</a> <br />
					<a href="#">Xanh trắng - Thanh Lịch</a> 
					</p>
					<span>Giá :<b> 10.900.000đ</b></span>
					<h4> <a href=""> Mua ngay </a></h4>
				</div>
			</div>
		</div>
		<div class="sp-moi">
			<div class="spm">
			<h3>Sản phẩm mới</h3>
			</div>
			<div class="list-spm">
				<div class="spm-details">
					<a href=""><img src="images/new-product1.png" width="211" /></a><br />
					<p>
					<a href="#">Zinger extra</a> <br />
					<a href="#">Xanh trắng - Thanh Lịch</a> 
					</p>
					<span>Giá :<b> 10.900.000đ</b></span>
					<div class="buynow"><a href=""> Mua </a></div>
				</div>
				<div class="spm-details">
					<a href=""><img src="images/new-product5.png" width="211" /></a><br />
					<p>
					<a href="#">Zinger extra</a> <br />
					<a href="#">Xanh trắng - Thanh Lịch</a> 
					</p>
					<span>Giá :<b> 10.900.000đ</b></span>
					<div class="buynow"><a href=""> Mua </a></div>
				</div>
				<div class="spm-details">
					<a href=""><img src="images/new-product4.png" width="211" /></a><br />
					<p>
					<a href="#">Zinger extra</a> <br />
					<a href="#">Xanh trắng - Thanh Lịch</a> 
					</p>
					<span>Giá :<b> 10.900.000đ</b></span>
					<div class="buynow"><a href=""> Mua </a></div>
				</div>
			</div>
			<div class="list-spm">
				<div class="spm-details">
					<a href=""><img src="images/new-product1.png" width="211" /></a><br />
					<p>
					<a href="#">Zinger extra</a> <br />
					<a href="#">Xanh trắng - Thanh Lịch</a> 
					</p>
					<span>Giá :<b> 10.900.000đ</b></span>
					<div class="buynow"><a href=""> Mua </a></div>
				</div>
				<div class="spm-details">
					<a href=""><img src="images/new-product2.png" width="211" /></a><br />
					<p>
					<a href="#">Zinger extra</a> <br />
					<a href="#">Xanh trắng - Thanh Lịch</a> 
					</p>
					<span>Giá :<b> 10.900.000đ</b></span>
					<div class="buynow"><a href=""> Mua </a></div>
				</div>
				<div class="spm-details">
					<a href=""><img src="images/new-product3.png" width="211" /></a><br />
					<p>
					<a href="#">Zinger extra</a> <br />
					<a href="#">Xanh trắng - Thanh Lịch</a> 
					</p>
					<span>Giá :<b> 10.900.000đ</b></span>
					<div class="buynow"><a href=""> Mua </a></div>
				</div>
			</div>
		</div>
		
	</div><!---End #main-content-->
	</div>
	<div id="footer"><!--# footer-->
		<div class="main-footer">
			<div class="logo">
				<img src="images/logo-footer.jpg " width="93px" height="50px"/>
			</div>
			<div class="address">
				<ul>
					<li>430 Xã Đàn - Đống Đa - HN </li>
					<li>Tel: 0966 694 802 - 0904568 609 </li>
					<li>454 Trần Hưng Đạo P2,Q5,TPHCM </li>
					<li>Tel: 0935 234 212 - 0964 272 828 </li>
					<li>400 Lê Duẩn - Thanh Khê - ĐN </li>
					<li>Tel: 0935 234 212 - 0964 272 828 </li>
				</ul>	
			</div>
			<div class="time">
				<ul>
					<li>Thời gian làm việc:</li>
					<li>Từ 8h30-19h30 hàng ngày </li>
					<li>Góp ý về dịch vụ,sản phẩm: info@hkbike.com.vn</li>
					<li>Liên hệ, hợp tác kinh doanh:info@hkbike.com.vn</li>
				</ul>
			</div>
			<div class="like">
                <ul>
					<li><img src="images/footer-like.png" /></li>
					<li><a href="#">Liên kết với chúng tôi qua các mạng xã hội </a></li	>
				</ul>
        	</div>
		</div>
		<div class="copy">
			<p>Copyright &copy; 2015 HKBike - All Rights Reserved</p>
                <span>Designed by Apuscorp</span>
		</div>	
	</div><!--# End footer-->
</div><!--End #wrapper-->
</body>
</html>