/* 

SmartShop - CSS File

USE THIS STYLE SHEET FOR INNER PAGE

*/


/* Page Navi*/
.pagenavi a, .pagenavi a:visited, .pagenavi .current, .pagenavi .next {
	padding:5px 9px; font-size:11px; margin:0 10px 0 0; clear:both;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}



/* BLOG */
.post{margin-bottom:50px; padding-bottom:50px; clear:both;}
.post.single{padding-bottom:30px; }
.postimg{margin-bottom:5px;}
.postimg img{padding:1px;}
.posttitle{margin:0 0 5px 0; }
.posttitle, .posttitle a{font-size:20px;}
.posttitle a:hover{text-decoration:none;}


.entry-content {margin:0; padding:12px 0 5px 0;}

.entry-utility{ margin-bottom:15px; font-size:11px; font-style:italic;}

.commentlist{
	list-style-type:none;
	padding:0;
	margin:0;
}
.commentlist ol{
	list-style-type:none;
	padding:30px 0 0 90px;
	margin:0;
}

.commentlist li{
	position:relative;
	padding:0 0 30px 0;
}
.commentlist li li{
	position:relative;
	padding:0;
}

.avatar{
	position:absolute;
	top:0;
	left:0;
}
.fn{font-size:13px; font-style:400; font-family: 'Droid Sans', Arial, Helvetica, sans-serif;}
.tdate{padding-left:20px;}


.commenttext{padding:20px 20px; margin-top:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.comment-body{margin:0 0 0 90px; }
.comment-body p{ margin-bottom:5px;}
.comment-body .more{ padding:0px 0px;}
#commentform {margin-bottom:20px}
#commentform label{display:block}
#commentform .text-input{
	margin-bottom:8px;
	padding:8px 5px;
	vertical-align:middle;
	width:50%;
}
#commentform .textarea{
	margin-bottom:20px;
	padding:8px 5px;
	vertical-align:top;
	
}


/* PRODUCTS */
.ts-display-pd-col-3{list-style-type:none; padding:0; margin:0;}
.ts-display-pd-col-3 li{list-style-type:none; padding:0; margin:0 20px 40px 0; width:216px; height:100%; float:left;}
.ts-display-pd-col-3 li.nomargin{margin-right:0;}
.ts-display-pd-col-3 h2{ font-size:13px; margin:0px;}
.ts-display-pd-col-3 .price{ font-size:16px; font-family: 'Droid Sans', Arial, Helvetica, sans-serif;}


/* PRODUCTS DETAIL */
.product-detail .price{ font-size:16px; margin-bottom:20px;}
.product-detail h4{ margin-bottom:0px; font-size:13px;}
.variations_button{ padding-top:20px;}
.quantity.buttons_added{ float:left; display:inline-block; padding:1px; margin-right:24px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
	width:90px;
	}
.quantity input.plus, .quantity input.minus {
    border: 0 none;
    cursor: pointer;
    display: inline;
    line-height: 1em;
    margin: 0;
    padding: 4px;
    vertical-align: middle;
    width: 20px;
}

.quantity input {
    margin-left: 0;
    margin-right: 0;
}

.quantity input.qty {
    border: 0px;
    display: inline;
    line-height: 1em;
    margin: 0;
    padding: 4px;
    vertical-align: middle;
    width: 30px;
}

.product_meta{ margin-top:20px;}

/* My Account */
.my_account_orders{ border:0px;}
.my_account_orders thead tr th.no-order{
-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;		
}
.my_account_orders thead tr th.status{
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
.my_account_orders tr td{ vertical-align:middle; padding:20px 0px;}
.title2{ border:0px;}
.title2 h4{ float:left;}
.edit{ float:right;}



/* Cart */
#cart table{ border:0px;}
#cart td{ vertical-align:middle;}

#cart thead tr th.remove{
-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;	
	}
	
#cart thead tr th.total{
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
width:130px;
	}
.remove{ font-size:16px; padding:1px 5px; font-weight:bold;}
#cart .quantity.buttons_added{ margin:0px; float:none;}

.coupon input#coupon_code{ width:300px; float:left; margin-right:11px;}
.coupon input.button.coupon{ float:left; padding:6px 10px;}

#cart tfoot tr td{ padding:30px 0px 70px 0px;}
.rounded-foot{ text-align:right;}
.rounded-foot input.button.update{ margin-bottom:15px; width:149px;}

.cart_totals {
    float: right;
    max-width: 328px;
    width: 100%;
	text-align:right; 
	font-size:12px;
}
.cart_totals table{ border:0px;}
.cart_totals th { background:none; padding-left:0px; text-align:right; filter:none!important;}
.cart_totals td{  width:130px; text-align:right; padding-right:0px; }

/* Checkout */
#billing_company, #billing_country, #billing_state{ width:95%;}
#order_comments{width:97%;}
#shiptobilling {
    float: right;
    margin: 0;
    padding: 0;
}
#shiptobilling .input-checkbox {
    display: inline;
    vertical-align: middle;

}
#shiptobilling label.checkbox {
    display: inline;
	float:none;
	padding-left:5px;
}

.checkout table{ border:0px;}
.checkout td{ vertical-align:middle;}

.checkout thead tr th.product{
-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;	
	}
	
.checkout thead tr th.total{
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
	}

.checkout_cart td{ border-bottom:0px!important;}

.checkout_totals { width: 100%;	text-align:right;}
.checkout_totals table{ border:0px;}
.checkout_totals th { background:none; padding-left:0px; text-align:right; font-size:12px; filter:none!important;}
.checkout_totals td{  width:130px; text-align:right; padding-right:0px; }


#payment { border-radius: 5px 5px 5px 5px;}
#payment ul.payment_methods {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 20px;
    text-align: left;
}
#payment ul.payment_methods li {
    font-weight: normal;
    line-height: 2em;
    margin: 0;
    text-align: left;
}
#payment ul.payment_methods li input {
    margin: 0 1em 0 0;     
	display: inline;
    float: none;
    padding-left: 5px;
}
#payment ul.payment_methods li label{
	display:inline; float:none;
	font-size:13px;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}
#payment ul.payment_methods li .payment_box{ padding-left:30px;}
#payment ul.payment_methods li img {
    margin: -2px 0 0 0.5em;
    position: relative;
    vertical-align: middle;
}
#payment div.form-row { padding: 20px;	text-align:right;}



/* PORTFOLIO */
#ts-display-portfolio{float:left;}
.ts-display-pf-img{	padding:1px; }
.ts-display-pf-img img{display:block;}
.ts-display-clear{clear:both; height:1px !important; line-height:1px !important; float:none!important}
.ts-display-pf-text h2{margin-bottom:5px; font-size:13px; line-height:20px;}

.ts-display-pf-img a .rollover{
	background:url(../images/hover-zoom.png);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
    position:absolute!important;
	z-index:10;
	display:none;
	cursor:pointer;
}
.ts-display-pf-img a .rollover.gotolink{
	background:url(../images/hover-link.png);
	background-repeat:no-repeat;
	background-position:center;
}
.ts-display-pf-img a .rollover.gotopost{
	background:url(../images/hover-doc.png);
	background-repeat:no-repeat;
	background-position:center;
}


/*======= Portfolio 4 Column =======*/
.ts-display-pf-col-4{list-style-type:none; padding:0; margin:0;}
.ts-display-pf-col-4 li{list-style-type:none; padding:0; margin:0 20px 40px 0; width:220px;  float:left;}
.ts-display-pf-col-4 li.nomargin{margin-right:0;}

.ts-display-pf-col-4 .ts-display-pf-img{
	width:216px;
	height:100%;
}

.ts-display-pf-col-4 .ts-display-pf-img a.image{
	width:216px;
	height:100%;
	display:block;
	position:relative;
}

.ts-display-pf-col-4  .ts-display-pf-img a .rollover{
	width:216px;
	height:100%;
	cursor:pointer;
}

.ts-display-pf-col-4 .ts-display-pf-text{
	margin-top:14px;
}



/* CONTACT */
form{margin:0; padding:0;}
fieldset{border:0px;}
#contactform{margin:0 auto; position:relative; }
#contactform label{display:block; width:100%; float:left; padding-bottom:5px;}

span.error{color:red;text-align:left; font-size:11px; padding-bottom:15px; display:block;}
#contactform input.text-input{
	margin-bottom:15px;
	vertical-align:middle;
	width:70%;
	float:left;
	padding:8px
}
#contactform textarea{ width:95%; float:left;} 
#message{ margin-left:0px; font-weight:bold;}
#message p{margin:6px 0px; }

#contactform .button{
	cursor:pointer;
	margin-top:20px;
	clear:both;
	float:left;
 }
