/* 

SmartShop - CSS File

*/


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
body {
	line-height: 1; }
ol, ul {
	list-style: none; }
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }
table {
	border-collapse: collapse;
	border-spacing: 0; }

/*============================================ GLOBAL  =================================================*/
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0 auto;
	padding:0;
	line-height:20px;
}
* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
form{margin:0; padding:0;}
hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:35px 0px 35px 0px;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
}

/*** END OF GLOBAL  ***/


/*============================================ DEFAULT ELEMENT STYLES  =================================================*/
/* heading */
h1, h2, h3{margin-bottom:18px;}
h4, h5, h6{margin-bottom:10px;}
h1	{font-size:22px;}
h2	{font-size:20px;}
h3	{font-size:16px;}
h4	{font-size:14px;}
h5	{font-size:12px;}
h6	{font-size:11px;}
h1, h2, h3, h4, h5, h6{ font-weight:400; font-family: 'Droid Sans', Arial, Helvetica, sans-serif; }
.pagetitle{ font-weight:700;}
.title{ padding-bottom:10px;}
.valignmiddle {padding-top:8px;	margin-bottom:15px;}

/* links */
a, a:visited {text-decoration:none; font-weight:normal; }
a:hover{text-decoration:none;}
a img{border:none}


/* float align */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 20px;
	margin-top: 3px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
	margin-top: 5px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:3px;
}


img.alignleft, 
img.alignright, 
img.aligncenter,
img.alignnone {
	margin-bottom: 5px;
}

/* Images */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	margin-bottom:20px;
}
ul {
	list-style: disc;
	margin: 0 0 18px 1.5em;
}
ul li{ padding-bottom:10px;}
ol {
	list-style: decimal;
	margin: 0 0 18px 2.2em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
	
blockquote {
    background-image: url("../images/quote.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    clear: both;
    font-size: 16px;
    font-style: italic;
    line-height: 25px;
    margin: 0 0 20px 0;
    padding: 0 10px 0 50px;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}
	
	
blockquote.left, blockquote.right  {
	float:right;
	letter-spacing:0px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:0px;
	padding:0px 20px 10px 60px;
	width:43%;
	background-position:0px 0px;
	}
	
blockquote.left{
	float:left;
	margin-left:0px;
	margin-right:20px;}

blockquote p{margin-bottom:0px;}

/* code */
code {
	font-family:Verdana, Arial;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	padding:15px 10px;
}

/*** END OF DEFAULT ELEMENT STYLES ***/


/*============================================ CONTAINER  =================================================*/
#bodychild{
	width:1020px; 
	margin:0px auto;
    padding-top:0px;
    position: relative;
    z-index: 10;
}
#outercontainer{width:100%;}

#outerheader, #outerafterheader, #outerslider, #outerbeforecontent, #outermain,  #outerfootersidebar, #outerfooter{width:100%; margin:0 auto}

/* HEADER */
#outerheader{
	margin-bottom:40px;
	padding-bottom: 0px;
	position: static;
	z-index: 20;
}

#beforecontent{ padding-bottom:20px;}

/* CONTENT */
#outermain{padding:38px 0 50px 0;}
#maincontent{}
#content{float:left;}
#content.positionright{float:right;}
#content.positionleft{ float:left;}
#content .padcontent{ padding:0px 10px 0px 0px;}
#content.positionright .padcontent{ padding:0px 0px 0px 10px;}

/* SIDEBAR */
#sidebar{float:left; }
#sidebar.positionleft{float:left;}
#sidebar.positionright{float:right;}

/* FOOTER SIDEBAR */
#outerfootersidebar{}
#aftercontentcontainer{padding:40px 0 0 0;}

/*** END CONTAINER ***/

/*** HEADER ***/
#top{ padding:25px 0px 0px 0px;}
#logo{float:left; margin-top:15px;}

#headerright{float:right; padding:0px 0 10px 0}

#chart{ float:right; position:relative;}
#chart h6{ font-weight:700; text-transform:uppercase; margin-bottom:3px;}
#chart p{ line-height:16px; font-size:11px;}

#shop-bag{ background:url(../images/shop-bag.png) no-repeat 0 5px; width:48px; height:55px; display:block; float:left; margin-right:20px;}
.shop-box {
	width: 237px;
	clear: both;
	position:absolute;
	right:0;
	top:60px;
	z-index:250;
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.shop-box li{padding:20px 13px;}
.shop-box li:last-child{ padding:10px 13px 20px 13px;}
.shop-box h2{ font-size:13px; margin-bottom:0px;}
.shop-box .total{ font-size:11px; margin-bottom:10px;}

#user-nav{ margin:0px; padding:0px; list-style-type:none; float:right; display:block; clear:left;}
#user-nav li{ padding:0px 5px 0px 10px; background:url(../images/square.gif) no-repeat 0px 6px; display:inline; }
#user-nav li:last-child{ padding-right:0px;}
#user-nav li:first-child{ background:none; padding-left:0px;}

/* TOP MENU */
#navigation{position:relative; z-index:200; margin:0; padding:0px; background:url(../images/bg-nav.gif) repeat-x; height:48px; 
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

/* Nav Menu */
#topnav{
	margin:0;
	list-style-type:none;
	overflow:visible;
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
	padding:0 0 0 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.sf-menu a {
	text-decoration:none;
	display:		block;
	position:		relative;
	padding: 		18px 25px 18px 25px;
	font-weight:700;
}


.sf-menu > li {
    position: relative;
    z-index: 10;
}


.sf-menu > li:before {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}


/* Drop down menu */
.sf-menu ul a:hover {}
.sf-menu li li {
	text-align:left;
	line-height:20px;
	margin:0;
}
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	font-size:12px;
	
}
.sf-menu {
	line-height:100%;
	position:absolute;
	right:0;
	bottom:0;
	float:left;
	
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			12em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
	
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
	margin:0;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0px;
	top:			4.3em; /* match top ul list item height */
	z-index:		99;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
	
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			12em; /* match ul width */
	top:			-1px;
	margin-left:	0px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
	
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			12em; /* match ul width */
	top:			-1px;
	
}
.sf-menu ul li a{
	padding:7px 25px!important;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}

.sf-menu li ul {
	padding:0px 0px;	
}
.sf-menu a.sf-with-ul {
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			10px;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
}



.sf-menu ul{border:0px;}
.sf-menu li li {}
.sf-menu > li li:before{
	content: "";
	display: block;
}

.sf-menu > li li:first-child:before{ border:0;}


/* dropdown mobile */
.tinynav { display: none }


/* search */
#searchform{position:relative; float:right; margin-right:26px; margin-top:9px; }
#searchform .bgsearch{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width:180px;
	}
#searchform input{ margin:0px;}
#searchform #s{width:80%; padding:7px 5px !important; border:0}
.searchbutton{background:url(../images/search-icon.png) no-repeat right center !important; border:0 !important; 
width:20px; height:17px; position:absolute; right:10px; top:6px; filter:none!important;}




/*============================================ SLIDER   =================================================*/
#slidercontainer{margin-bottom:32px;}
#slider{position:relative;}
#slider .button{padding:8px 15px 8px 15px;}

/*============================================ CONTENT  =================================================*/

.indentleft{overflow:hidden;}

/* FlexCarousel  */
.maincarousel{ clear:both; overflow:hidden; height:auto;}
.maincarousel h2{ margin-bottom:5px;}
.maincarousel h5{ font-size:13px;}

.ribbon-new{
    background: url("../images/ribbon-new.png") no-repeat;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
	}

/*=== List ===*/
.row-list{list-style-type:none; padding:0; margin:0}
.row-list li{padding:0; margin:0 0 25px 0}

.row-list2{list-style-type:none; padding:0; margin:0}
.row-list2 li{padding:0 0 15px 0 !important; margin:0 0 15px 0 !important; clear:both}
.row-list2 li:last-child{border:0 !important;}

/*=== Circle ===*/
.circle{
	display: block;
	font-size:20px;
	line-height:47px;
	width: 47px;
	-moz-border-radius: 47px;
	-webkit-border-radius: 47px;
	-khtml-border-radius: 47px;
	border-radius: 47px;
	text-align: center;
	margin:0 15px 0 0;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	
}


/*=== Form & Button ===*/
form{margin:0; padding:0;}

label{display:block; width:100%; float:left; padding-bottom:5px;}

input[type="text"],
textarea, input[type="password"], select{
	font-size:12px;
	padding:7px 5px;
	margin-bottom:15px;
	font-size:11px;
	font-family:Arial;
	width:90%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

textarea{width:90%;}

textarea:focus{outline:0;}

.button, .button:visited, input[type="submit"], button{
	border:0px;
	padding:7px 10px 7px 10px;
	margin-right:11px;
	cursor:pointer;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:11px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.button:hover, input[type="submit"]:hover, button:hover{
	text-decoration:none;
}

/*=== Separator ===*/
.separator {
	display:block;
	height:20px;
	padding:0 0;
	text-align:center;
	width:100%;
	clear:both;
}

.separator.line {
	display:block;
	text-align:center;
	width:100%;
	clear:both;
	padding:0;
	height:1px;
	margin-bottom:35px;
	margin-top:35px;
}



/*=== Dropcaps ===*/
.dropcap1{
	display:block;
	float:left;
	font-size:35px;
	line-height:35px;
	margin:2px 8px 0 0;
}
.dropcap2{
	display: block;
	float:left;
	font-size:35px;
	line-height:45px;
	width: 47px;
	-moz-border-radius: 47px;
	-webkit-border-radius: 47px;
	-khtml-border-radius: 47px;
	border-radius: 47px;
	float:left;
	text-align: center;
	margin:8px 15px 0 0;
	padding-top:3px;
	
}
.dropcap3{
	display:block;
	float:left;
	font-size:35px;
	line-height:40px;
	width:47px;
	height:40px;
	text-align: center;
	margin:6px 8px 0 0;
	padding:5px 0
}

/*== Highlight ==*/
.highlight1{padding:2px 5px;}	
.highlight2{padding:2px 5px;}

/*=== Pullquotes ===*/
.pullquote-right,.pullquote-left{
	padding:0px 10px 0px 50px;
	background-image:url(../images/quote.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	float:right;
	font-style:italic;
	font-size:16px;
	letter-spacing:0px;
	line-height:22px;
	margin:0px 2px 20px 20px;
	width:50%;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	}
.pullquote-left{float:left;margin-left:2px;margin-right:20px;}

/*==== Tabs ====*/
.tabcontainer{margin:0;}
ul.tabs {
	margin: 0;
	margin-bottom:-1px;
	padding: 0 0 2px 0;
	list-style: none;
	height: 41px;
	width: 100%;
	
}

ul.tabs li {
	float: left;
	margin: 0 0;
	padding: 10px 25px;
	overflow: hidden;
	position: relative;
	font-size:13px;
	cursor:pointer;
}

ul.tabs li a {
	text-decoration: none;
	display: block;
	padding: 0 0px;
	outline: none;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}

.tab-content {padding: 25px 25px 5px 25px; }
	
ul.tabs li:hover{}
#tab-body{padding:0 0px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}

/*==== jQuery Toggles ====*/
#toggle{border: 0px }
h2.trigger {
	padding: 10px 0px;
	margin: 0 0 0 0;
	font-size:14px;
	font-weight: normal;
}

h2.trigger span {
	text-decoration: none;
	display: block;
	height:23px;
	background: url(../images/arrow-left.png) no-repeat 0 0px;
	padding-left:30px;
	cursor:pointer;
	line-height:24px;
}

h2.active span{ background:url(../images/arrow-down.png) no-repeat 0 0px;}

h2.active { background:transparent; border-bottom:0;}

.toggle_container {
	margin: 0 0 0 0;
	padding: 0px 0px;
	overflow: hidden;
	clear: both;
}
.toggle_container .block {
	padding: 0px 0px 0px 30px;
}
.toggle_container .block p {
	padding: 0px;
	margin: 0px;
}

/*==== Tables ====*/
table {border-collapse:separate;border-spacing:0;width:100%; margin-bottom:18px;}
table,td,th { text-align:center;}
tfoot td{border:0px;}
th,tr:hover{}
table {
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
thead th {
	font-size: 13px;
	line-height: 18px;
	padding: 9px 24px;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}
tr td {
	padding: 6px 24px;
}
tr.odd td {}


/* Alert */
.alert {
    margin: 0 0 25px;
    padding: 13px 15px;
    position: relative;
    z-index: 10;
	font-size:13px;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}
.alert:before {
    bottom: 0px;
    content: "";
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}


/*============================================ SIDEBAR  =================================================*/
.widget-title{
	font-size:16px;
	padding:0;
	margin-bottom:15px;
}

#sidebar ul{
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

#sidebar ul li{
	list-style-type:none;
	margin:0;
	padding:0;
	
}
#sidebar .widget-container{margin-bottom:57px; padding:0 0 0 0px;}

#sidebar li li{
	list-style-type:none;
	margin:0 0 5px 0;
	padding:0 0 5px 0;
}

#sidebar li li span{ float:right; display:block;}

#sidebar li li a{}
#sidebar li li a:hover, #sidebar li li a.active{text-decoration:none;}

#sidebar .textwidget p{ margin-bottom:0px;}

/* latest product widget */
#sidebar .lp-widget li{border:0 !important; margin-bottom:10px}
#sidebar .lp-widget li h3{margin-bottom:0px; font-size:13px; padding-top:10px;}

#sidebar .star img{ float:left; margin-right:5px;}
#sidebar .price{ margin-bottom:5px;}

/* post category widget */
.categories-widget ul li{display:inline-block; width:45%; margin-right:16px !important;}
.categories-widget ul li:nth-child(2n){margin-right:0px !important;}


/*============================================ FOOTER SIDEBAR  =================================================*/
#outerfootersidebar{padding:40px 0 0 0;}
#footersidebar ul{list-style-type:none; margin:0; padding:0;}
#footersidebar li.widget-container{list-style-type:none; margin:0 0 40px 0; padding:0 6px 0 0; border:0px;}
#footersidebar .widget-title{
	font-size:14px;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	font-weight:400;
	margin:0 0 25px 0;
}
#footersidebar li li{padding:0 0 3px 0; margin:0 0 3px 0; }
#footersidebar li a{ padding:0px; margin:0px;}
#footersidebar li a:hover{ text-decoration:none;}

#footersidebar .ts-recent-post-widget{list-style-type:none; margin:0; padding:0;}
#footersidebar .ts-recent-post-widget li{ margin-bottom:10px; display:block; }
#footersidebar .ts-recent-post-widget img{ float:left; margin-right:15px; margin-top:3px;}
#footersidebar .ts-recent-post-widget p{ overflow:hidden;}
#footersidebar .ts-recent-post-widget h3{font-size:13px; margin:0 0 5px 0;}

/* Twitter */
#footersidebar .tweet_list li { padding-bottom:15px; margin-bottom:15px;}
#footersidebar .tweet_list li:last-child{ border-bottom:0px;}
.tweet_time{ display:block;}
.tweet_time a{ font-size:11px; font-style:italic;}

.gallery-pic{}
.gallery-pic img{margin:0 6px 6px 0; display:block; float:left;}


/*============================================ FOOTER  =================================================*/
#footercontainer{padding:20px 0px 15px 0;}
#footer{ float:left; margin-bottom:10px;}


.sn{list-style-type:none; margin:0 0 0 0; padding:0; float:right;} 
.sn li{list-style-type:none; margin:0; padding:0 0 0 5px; display:inline; background:transparent; border:0px!important;} 
.sn span{height:23px; width:23px; display:inline; display:inline-block}
.icon-img{background-position:0 0;}
.icon-img:hover{background-position:0 -23px !important;}
